@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Imprima);

.App {
	text-align: center;
}

#Number {
	font-size: 155px;
	font-family: 'Six Caps', sans-serif;
}
